body {
    background-color: rgb(46, 44, 44);
    margin 0px;
}

.navbar  {
background-color: black;
color: white;
height: 80px;
position: sticky;
top: 0px;
text-align-last: right;
}

.footer {
    height: 500px;
    text-align: center;
    background-color: rgb(165, 42, 114);
    clear: both;
  }