/* header icons */
.fab {
  font-size: 20px;
  height: 20px;
  width: 40px;
  margin: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
  float: right;
}

.fab:hover {
  opacity: 0.3;
}

/* header */
.header {
  display: block;
  width: 100%;
  margin-top: 0px;
}

h1 {
  font-family: "Bungee Inline", cursive;
}

/* navigation */
.navbar {
  background-color: black;
  color: white;
  margin: 0px;
  position: sticky;
  text-align-last: right;
  clear: both;
}

footer {
  height: 20px;
  width: 100%;
  text-align: center;
  color: rgb(84, 12, 151);
  font-family: "Kristi", cursive;
  background-color: rgb(202, 130, 172);
}
