/* header icons */
.fab {
  font-size: 20px;
  height: 20px;
  width: 40px;
  margin: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
  float: right;
}

.fab:hover {
  opacity: 0.3;
}

/* header */
.header {
  display: block;
  width: 100%;
  margin-top: 0px;
}

h1 {
  font-family: "Bungee Inline", cursive;
}

/* navigation */
.navbar {
  background-color: black;
  color: white;
  margin: 0px;
  position: sticky;
  text-align-last: right;
  clear: both;
}

footer {
  height: 20px;
  width: 100%;
  text-align: center;
  color: rgb(84, 12, 151);
  font-family: "Kristi", cursive;
  background-color: rgb(202, 130, 172);
}

/* Contact page only */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  /* box-sizing: border-box; */
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],
select,
textarea {
  width: 60%;
  padding: 10px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 16px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 10px;
  margin-top: 10px;
  vertical-align: middle;
}

h2 {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  text-decoration: underline;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: content-box;
  padding: 20px;
  background-color: rgb(204, 204, 204);
  height: 100%;
  width: 20%;
}
